<div class="nav">
	<div class="headline">
		<h1 class="logo">RetFlix</h1>
		<h3>See our collection of movies below</h3>
	</div>
</div>

<div class="main-container">
	<div class="search-add">
		<%= link_to '<button type="button" class="add-btn">Add Movie</button>'.html_safe, new_movie_path %>
		<%= form_tag movies_path, method: 'GET' do%>
			<%= text_field_tag :q, params[:q], placeholder: 'Search Movies', class: 'form-control', autocomplete: 'off' %>
		<% end %>
		<% if params[:q].present? %>
			<%= link_to '<button type="button" class="add-btn all-movies">Show All Movies</button>'.html_safe, root_path %>
		<% end %>	
	</div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Year</th>
			<th>Synopsis</th>
			<th>Remove</th>
		</tr>
		<% @movies.each do |movie| %>
			<tr class="movie-row">
				<td><%= movie.title %></td>
				<td><%= movie.year_released %></td>
				<td><%= movie.description %></td>
				<td><%= link_to 'Delete', movie, method: :delete %></td>
			</tr>
		<% end %>
	</table>
</div>
